# Sensor

# Caymans doesn't support CHRE feature
on boot
    setprop vendor.chre.enabled 0

on post-fs-data
    mkdir /mnt/vendor/sns/sensors/ 0755 system system
    mkdir /mnt/vendor/sns/sensors/registry/ 0755 system system
    mkdir /mnt/vendor/sns/sensors/registry/registry/ 0755 system system

    chown system system /sys/devices/virtual/input/lge_sar_rf/regreset
    chown system system /sys/devices/virtual/input/lge_sar_rf/onoff
    chown system system /sys/devices/virtual/input/lge_sar_rf/checkallnear
    chown system system /sys/devices/virtual/input/lge_sar_rf/docalibration

    chmod 644 /sys/devices/virtual/input/lge_sar_rf/regreset
    chmod 644 /sys/devices/virtual/input/lge_sar_rf/onoff
    chmod 644 /sys/devices/virtual/input/lge_sar_rf/checkallnear
    chmod 644 /sys/devices/virtual/input/lge_sar_rf/docalibration
